
.top_banner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));  
}
body {
    background-color: aquamarine;
}

section {
    grid-template-columns: auto;
}

.home_container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

}
.left_column {
    float: left;
    width: 30%;
  }

.right_column {
    float: right;
    width: 70%;
  }

  