{% extends 'base.html'%}

{% block content %}

<div>
  <h1>Merchant page</h1>
  {% if merchant %}
    <div class="merchant-grid">
      {% for m in merchant %}
        <div class="merchant-card">
          <h2>{{ m.name }}</h2>
          <p>Category: {{ m.category }}</p>
          <p>Amount: {{ m.amount }}</p>
          <p>Id: {{ m.id }}</p>

          <a href="/merchant/{{m.id}}/edit">Edit Merchant</a>
          <a href="/merchant/{{m.id}}/view">View Merchant</a>
          
          <form method="post" action="/merchant/{{m.id}}/delete">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit">Delete Merchant</button>
          </form>

        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No merchants found.</p>
  {% endif %}
</div>

{% endblock %}

