{% extends 'base.html' %}

{% block content %}


<div>
    <h1>Transactions page</h1>
    {% if merchant %}
      <div class="merchant-grid">
        {% for m in merchant %}
          <div class="merchant-card">
            <h2>{{ m.name }}</h2>
            <p>Category: {{ m.category }}</p>
            <p>Amount: {{ m.amount }}</p>
            <p>Id: {{ m.id }}</p>  
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>No merchants found.</p>
    {% endif %}
  </div>

{% endblock %}
  